@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
/* Shared styles */

/* Header styles */
header {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgba(229, 84, 115, 0.1);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-text {
  width: 525px;
}
.header-text h2 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 24px;
}
.header-text p {
  font-size: 15px;
  margin-bottom: 24px;
}
.btn-primary {
  padding: 20px 30px;
  border-radius: 6px;
  border: none;
  width: 133px;
  background-color: #e55473;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 1s;
}
.btn-primary:hover {
  background-color: #6dad60;
}
.header-image img {
  width: 100%;
  vertical-align: middle;
}
/* Main styles */
/* 1st section styles */
.sec-one {
  /* max-width: 500px; */
  text-align: center;
  margin: 50px auto;
}
/* .sec-heading h2,
.sec-heading p {
  text-align: center;
} */
.sec-heading h2 {
  font-size: 25px;
  font-weight: 800;
}
.sec-heading p {
  font-size: 15px;
}
.img-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: end;
  margin-top: 24px;
}
.flower-img {
  background-color: #eb9cad;
  border-radius: 300px 300px 0 0;
  padding: 30px 25px 0;
  height: 500px;
  display: flex;
  align-items: end;
}
.flower-img img {
  width: 300px;
}
.pink {
  background-color: #ffdec7;
}
.red {
  background-color: #bee49d;
}
.yellow {
  background-color: #7cab4d;
}
.flower p {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 800;
  text-decoration: underline;
}
/* 2nd section styles */
.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 75%; */
  margin: 0 auto;
  padding: 30px 0;
  height: 200px;
}
.icons {
  background-color: #ececec;
  width: 75%;
  border-radius: 5px;
}
/* Hot deal style */
.hot-deal-main {
  background-color: #ffdec7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}
.red-color {
  color: red;
}
.hot-deal-content {
  width: 75%;
  max-width: 550px;
}
.hot-deal-main .hot-deal-content * {
  margin-bottom: 20px;
}
.hot-deal-img img {
  width: 100%;
}
/* Newsletter style */
#newsletter {
  width: 75%;
  margin: 50px auto;
}
.back-img {
  background-image: url("../images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  padding: 122px 0;
}
.newsletter-content {
  text-align: center;
}
.section-container form {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  gap: 10px;
}
input {
  flex-grow: 1;
  border-radius: 5px;
  border: none;
}
