@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
/* Header styles */
header {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgba(229, 84, 115, 0.1);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-text {
  width: 525px;
}
.header-text h2 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 24px;
}
.header-text p {
  font-size: 15px;
  margin-bottom: 24px;
}
.btn-primary {
  padding: 20px 30px;
  border-radius: 6px;
  border: none;
  width: 133px;
  background-color: #e55473;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 1s;
}
.btn-primary:hover {
  background-color: #6dad60;
}
.header-image img {
  width: 100%;
  /* vertical-align: middle; */
}
